<div class="panel panel-default">
  <div class="panel-heading">
    <span class="label label-primary">Twitter</span>
    Scheduled on <%= post.scheduled_at %>
  </div>

  <div class="panel-body">
    <%= post.content %>
  </div>

  <div class="panel-footer">
    <%= post.state%>
    <%= link_to 'Cancel', cancel_post_path(post), method: :put if post.state == 'scheduled' %>
  </div>
</div>
